[submodule "external/CommonLibSSE"]
	path = external/CommonLibSSE
	url = https://github.com/powerof3/CommonLibSSE.git
[submodule "external/CommonLibAE"]
	path = external/CommonLibAE
	url = https://github.com/powerof3/CommonLibSSE.git
[submodule "FX11"]
	path = FX11
	url = https://github.com/panthuncia/FX11.git
[submodule "extern/CommonLibSSE-NG"]
	path = extern/CommonLibSSE-NG
	url = https://github.com/panthuncia/CommonLibSSE-NG
[submodule "extern/CommonLibVR"]
	path = extern/CommonLibVR
	url = https://github.com/alandtse/CommonLibVR.git
[submodule "extern/DirectXMesh"]
	path = extern/DirectXMesh
	url = https://github.com/microsoft/DirectXMesh.git
[submodule "extern/eigen"]
	path = extern/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "extern/DirectXTex"]
	path = extern/DirectXTex
	url = https://github.com/microsoft/DirectXTex.git
